@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overscroll-behavior-y: contain;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.top {
  position: relative;
  width: 100vw;
  height: 70vh;
}

.buttons {
  position: absolute;
  bottom: 0;
  width: calc(100vw - 40px);
  /* height: 40px; */
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  margin: 0.5em 0.5em;
  padding: 0.74em 1.2em;
  border: 1px solid #003049;
  border-radius: 4px;
  color: #003049;
  background-color: #e5e5e5;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  transition: right 325ms ease-out;
}

.interactive {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn:disabled {
  cursor: not-allowed;
}

canvas {
  border: 1px solid #003049;
  margin: 20px;
}

#range {
  width: 80%;
}

#cell-size {
  max-width: 50px;
  padding: 0.5em 0.9em;
}

#pattern-library {
  max-width: 120px;
  padding: 0.5em 0.9em;
}

.input-group {
  width: 100%;
  margin: 0.5rem 0;
}

.button-groups {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .controls {
    right: -100%;
  }
  .controls.active {
    right: 0;
  }
}
