@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.buttons {
  width: calc(100vw - 40px);
  max-width: 300px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  padding: 0.74em 1.2em;
  width: 80px;
  border: 1px solid #003049;
  border-radius: 4px;
  color: #003049;
  background-color: #e5e5e5;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

canvas {
  border: 1px solid #003049;
  margin: 20px;
}

#range {
  width: 400px;
}
